@* this is to support multiple CSS frameworks - see http://connect-koi.net/ *@
@using Connect.Koi 

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "fancybox,styles,scripts"})

<div class="co-container-outer">
	<div class="co-container-inner clearfix sc-element co-content co-content-image-right co-text-beside-image ly-margin-bottom">
		<div class="row">
			@Edit.Toolbar(Content)
			<div @Koi.Class("bs3='col col-sm-6' bs4,oth='col-md-6'")>
				@* call sub-template to show the title with the correct H1-H6 tag *@
				@RenderPage("_Shared - header tag.cshtml")
				<div class="co-text">
					@Html.Raw(Content.Text)
				</div>
			</div>
			<div @Koi.Class("bs3='col col-sm-6' bs4,oth='col-md-6'")>
				@* call sub-template to show the image with all possible options *@
				@RenderPage("_Shared - image and optional Lightbox.cshtml", new { img = Content, width = 540 })
			</div>
		</div>
	</div>
</div>
