@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles,scripts"})

<div class="co-container-outer">
	<div class="co-container-inner">
        <div class="row">
            <div @Koi.Class("all='clearfix sc-element co-content co-content-text-only ly-margin-bottom' bs3='col col-md-8 col-md-push-2' bs4,oth='col-lg-8 order-md-2'")>
                @Edit.Toolbar(Content)
                <div class="co-title">
                    @* call sub-template to show the title with the correct H1-H6 tag *@
                    @RenderPage("_Shared - header tag.cshtml")
                </div>
                <div class="co-text">
                    @Html.Raw(Content.Text)
                </div>
            </div>
        </div>
    </div>
</div>