@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "fancybox,styles,scripts"})

<div class="co-container-outer">
	<div class="co-container-inner clearfix sc-element co-content co-content-image-left co-text-beside-image ly-margin-bottom">
		<div class="row">
			@Edit.Toolbar(Content)
			<div  @Koi.Class("bs3='col col-sm-8 col-sm-push-4' bs4,oth='col-md-8 order-sm-2'")>
				@* call sub-template to show the title with the correct H1-H6 tag *@
				@RenderPage("_Shared - header tag.cshtml")
				<div class="co-text">
					@Html.Raw(Content.Text)
				</div>
			</div>
			<div @Koi.Class("bs3='col col-sm-4 col-sm-pull-8' bs4,oth='col-md-4 order-sm-1'")>
				@* call sub-template to show the image with all possible options *@
				@RenderPage("_Shared - image and optional Lightbox.cshtml", new { img = Content, width = 540 })
			</div>
		</div>
	</div>
</div>