@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles,scripts,height"})

@{
    // get helper commands
    var Helpers = CreateInstance("_Helpers.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner co-navigation co-navigation-@(Dnn.Module.ModuleID) co-navigation-text">
        <div @Koi.Class("all='' bs3='row' bs4,oth='row'")>
            @foreach (var linkItem in AsDynamic(Data["Default"]))
            {
                var linkInfo = Helpers.LinkInfos(linkItem.Link, linkItem.Window, linkItem.Icon);

                <div @Koi.Class("all='sc-element' bs3='col col-xs-12 col-sm-6 col-md-4 sync-height-with-neighbors' bs4,oth='col-12 col-md-6 col-lg-4'")>
                    @Edit.Toolbar(linkItem)
                    <h3>@linkItem.Title</h3>
                    <p>@Helpers.ConvertLineBreaks(linkItem.Description)</p>
                    @if(linkInfo.Found)
                    {
                        <a target="@linkInfo.Window" title="@linkItem.Title" href="@linkItem.Link">@linkItem.LinkText&nbsp;<span class="" aria-hidden="true">&rsaquo;</span></a>
                    }
                </div>
            }
        </div>
    </div>
</div>