@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles,scripts,height"})

<div class="co-container-outer">
	<div class="co-container-inner co-person-wrapper co-person-wrapper-@(Dnn.Module.ModuleID)">
		<div class="row">
			@foreach (var person in AsDynamic(Data["Default"]))
			{
				<div @Koi.Class("all='sc-element co-person' bs3='co-sync-height-with-neighbors col col-sm-6' bs4,oth='col-md-6'")>
					@Edit.Toolbar(person)
					
					<div class="row">
						<div @Koi.Class("all='co-person-image' bs3='col col-xs-4' bs4,oth='col-4'")>
							@if (!String.IsNullOrEmpty(person.Photo))
							{
								<img src="@person.Photo?w=379&amp;h=488&amp;mode=crop&amp;quality=90" alt="@person.FullName" @Koi.Class("bs3='img-responsive' bs4,oth='img-fluid'") /> @* Format: Passphoto 1.2857 *@
							}
							else
							{
								<div class="co-person-placeholder"></div>
							}
						</div>

						<div @Koi.Class("all='co-person-text' bs3='col-xs-8' bs4,oth='col-8'") itemscope itemtype="http://schema.org/Person">
							<div class="co-p">
							<strong itemprop="name">@person.FullName</strong><br />
							@if (!String.IsNullOrEmpty(person.Position))
							{
								<span itemprop="jobTitle">@person.Position</span><br />
							}
							</div>
							<div class="co-p">
							@if (!String.IsNullOrEmpty(person.Email))
							{
								<div itemprop="email">
									<span class="fas fa-envelope"></span> 
									@RenderPage("_Shared - TryToEncryptMail.cshtml", new { email = person.Email })
								</div>
							}
							@if (!String.IsNullOrEmpty(person.Mobile))
							{
								<span class="fas fa-mobile" aria-hidden="true"></span> <a href="tel:@person.Mobile.Replace(" ", "")" itemprop="telephone">@person.Mobile</a><br />
							}
							@if (!String.IsNullOrEmpty(person.Phone))
							{
								<span class="fas fa-phone" aria-hidden="true"></span> <a href="tel:@person.Phone.Replace(" ", "")" itemprop="telephone">@person.Phone</a><br />
							}
							</div>
							<div itemprop="description">
								@Html.Raw((string)person.Description)
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>