@* show warning for admin if koi.json is missing *@
@RenderPage("_Shared - Koi Admin Messages.cshtml")

@* include Connect.KOI *@
@using Connect.Koi

@* include bootstrap 3 if the framework isn't known *@
@if(!Koi.Is("bs3,bs4")) 
{
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" data-enableoptimizations="true" />
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous" data-enableoptimizations="true" ></script>
}

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" data-enableoptimizations="true" ></script>

@* 
    This sub template just places all the very-often used
    style and link tags into the code. 
    We put this in a sub-template because we use it so often, and want to make sure 
    nobody accidentally uses the wrong url or forgets data-enableoptimizations
*@
@{
    string partList = PageData["parts"];
    var parts = partList.Split(',').Select(s => ((string)s).ToLower().Trim()).ToArray();
    var all = parts.Contains("all");
    var fancybox = all || parts.Contains("fancybox");
    var styles = all || parts.Contains("styles");
    var scripts = all || parts.Contains("scripts");
    var height = all || parts.Contains("height");
}
@if(fancybox)
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" data-enableoptimizations="true" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" data-enableoptimizations="true"></script>
}

@if(styles) { <link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs4")).css" data-enableoptimizations="true" /> }
@if(scripts) { <script type="text/javascript" src="@App.Path/dist/scripts.js" data-enableoptimizations="true"></script> }
@if(height && Koi.Is("bs3")) { <script type="text/javascript" src="@App.Path/dist/jquery.syncHeightResponsive.min.js" data-enableoptimizations="true"></script> }