@using Connect.Koi

@RenderPage("_Shared - Assets.cshtml", new { parts = "styles"})

@{
    var videoId = System.Text.RegularExpressions.Regex.Match(Content.VideoLink, "v=([^&]+)");
}
<div class="co-container-outer">
	<div class="co-container-inner co-youtube-video-wrapper sc-element">
		@Edit.Toolbar(Content)
		<div @Koi.Class("bs3='embed-responsive embed-responsive-16by9' bs4,oth='embed-responsive embed-responsive-16by9'")>
			@if (videoId.Groups.Count > 1)
			{
				<iframe class="co-ytplayer"
						src="@("https://www.youtube.com/embed/" + @videoId.Groups[1] + "?controls=1&fs=1&modestbranding=0&rel=0&showinfo=0&autohide=1&iv_load_policy=3&theme=dark&wmode=transparent")"
						allowfullscreen></iframe>
			}
			else
			{
				<div class="dnnFormMessage dnnFormWarning">Video not found. Please check Video-Link.</div>
			}
		</div>
	</div>
</div>