<link type="text/css" rel="stylesheet" href="[App:Path]/Assets/Employees.css" data-EnableOptimizations="true" />

<div class="app-empdir-wrapper">
<repeat>
		<div class="app-empdir-outer sc-element">
			<div class="app-empdir">[Content:Toolbar]
					<a class="app-empdir-link" href="[Tab:FullUrl]/Employee/[Content:EntityId]">
					<div class="app-empdir-person-image"><img style="width: 100px; height: 100px"  src="[Content:Image]?w=200&h=200&quality=70" /></div>

					<h2>[Content:Title]</h2>
					<p>[Content:Function]</p>

					</a>
			</div>
		</div>
</repeat>
</div>
