<link type="text/css" rel="stylesheet" href="[App:Path]/Assets/Employees.css" data-EnableOptimizations="true" />

<div class="app-empdir-details">
    <div class="app-empdir">
        <div class="sc-element">[Content:Toolbar]
				
            <div class="app-empdir-person-image"><img style="width: 200px; height: 200px"  src="[Content:Image]?w=400&h=400&quality=70&format=jpg" /></div>
						<div class="app-empdir-person-description">
							<h2>[Content:Title]</h2>
							<p>[Content:Function]</p>

							<p>[Content:Street]<br />
							[Content:ZipCode] [Content:City]<br />
							[Content:Country]</p>
							<p>[Content:Phone]<br />
							<a href="mailto:[Content:EMail]">[Content:EMail]</a></p>
							<div>[Content:AdditionalNotes]</div>
							<div><a href="javascript:vCardFor[Content:EntityId]()">&gt; vCard</a></div>
						</div>
						<div class="app-empdir-map-contactdetail app-empdir-map-right">
								<iframe id="mapFor[Content:EntityId]" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=""></iframe>
						</div>
        </div>
    </div>
</div>

<script>
    function vCardFor[Content:EntityId]() {
        window.location = '/DesktopModules/ToSIC_SexyContent/Extensions/ToSic_vCard/vCard.ashx'
            + '?FirstName=' + encodeURIComponent('[Content:FirstName]') 
            + '&LastName=' + encodeURIComponent('[Content:LastName]')
            + '&Organization=' + encodeURIComponent('[AppSettings:CompanyName]') 
            + '&JobTitle=' + encodeURIComponent('[Content:Function]')
            + '&Address=' + encodeURIComponent('[Content:Street]')
            + '&Zip=' + encodeURIComponent('[Content:ZipCode]')
            + '&City=' + encodeURIComponent('[Content:City]')
            + '&Country=' + encodeURIComponent('[Content:Country]')
            + '&Phone=' + encodeURIComponent('[Content:Phone]')
            + '&PhoneCompany=' + encodeURIComponent('[AppSettings:CompanyPhone]')
            + '&Email=' + encodeURIComponent('[Content:EMail]')
            + '&Url=' + encodeURIComponent('[AppSettings:CompanyUrl]')
            + '&Photo=' + encodeURIComponent('[Content:Image]');
    }

    function GoogleMapFor[Content:EntityId]() {
        return 'http://maps.google.de/maps?f=q&source=s_q&hl=de&geocode='
            + '&q=' + encodeURIComponent('[Content:Street], [Content:ZipCode] [Content:City]')
            + '&aq=&ie=UTF8&hq='
            + '&hnear=' + encodeURIComponent('[Content:Street], [Content:ZipCode] [Content:City]')
            + '&t=m&z=12&iwloc=A&output=embed&iwloc=near';
    }

    $('#mapFor[Content:EntityId]').attr('src', GoogleMapFor[Content:EntityId]());
</script>