<link type="text/css" rel="stylesheet" href="[App:Path]/Assets/Employees.css" data-EnableOptimizations="true" />

<div>
<repeat>
    <div class="app-empdir sc-element">[Content:Toolbar]
        <a href="[Tab:FullUrl]/Employee/[Content:EntityId]">
        <div class="app-empdir-person-image"><img style="width: 100px; height: 100px"  src="[Content:Image]?w=200&h=200&quality=50" /></div>

        <h2>[Content:Title]</h2>
        <p>[Content:Function]</p>

        </a>
    </div>
</repeat>
</div>
