@{	
	var lib = CreateInstance("_library.cshtml"); 
	var post = PageData["Post"];
    var author = (post.Author.Count > 0) ? post.Author[0] : lib.unknownAuthor;
}
    <hr>
    <article class="app-blog-item">
	        <div class="app-blog-col1 sc-element">
		    	@Edit.Toolbar(post, toolbar: new { 
                    entityId = post.EntityId, 
                    entityGuid = post.EntityGuid, 
                    entityTitle = post.EntityTitle }
                )
		
		
            <a href="@Link.To(parameters: "post=" + post.UrlKey)" title="@post.Title" class="app-blog-link">
                @*<img class="app-blog-person-mobile" src="@author.Image.ToLower()?w=40&amp;h=40&amp;mode=crop&amp;scale=both" alt="@author.FullName" />*@
                <h2>@post.Title</h2>
                <time pubdate datetime='@post.PublicationMoment.ToString("d")'>@post.PublicationMoment.ToString("d")</time>
                @if(!String.IsNullOrEmpty(post.Image)){
                     <div style="text-align:center; padding-bottom:8px;">
					    <img @Html.Raw(post.ImageSquare != true ? "style='width:100%;'" : "" ) class="app-blog-article-img" src="@post.Image.ToLower()?w=790&amp;h=300&amp;mode=max&amp;scale=both" alt="@post.Title" />
                     </div>          
                }
                <div class="Normal">
					@Html.Raw(post.Teaser)
                </div>
            </a>
            @*<div class="app-blog-categories">
                <strong> @(post.Categories.Count > 1 ? @App.Resources.Categories : @App.Resources.Category): </strong>
                @{
                        var categoryList = (post.Categories as IEnumerable<dynamic>)
                            .Select(cat => "<a href='" + Link.To(parameters: "category=" + cat.Key) + "' title='" + cat.Name + "'>" + cat.Name + "</a>").ToArray(); 
                }
                @Html.Raw(string.Join(", ", categoryList))
          </div>*@
        </div>
        @*<div class="app-blog-col2">
            <div class="app-blog-person">
                <a href="@Link.To(parameters: "author=" + author.FullName)">
                    <img src="@author.Image.ToLower()?w=64&amp;h=65&amp;mode=crop&amp;scale=both" alt="@author.FullName" />
                    <h4>@author.FullName</h4>
                </a>
            </div>
            <hr />
            <div class="app-blog-tags">
                <strong> @(post.Tags.Count > 1 ? @App.Resources.Tags : @App.Resources.Tag): </strong>
                @{
                        var tagsList = (post.Tags as IEnumerable<dynamic>)
                            .Select(tag => "<a href='" + Link.To(parameters: "tag=" + tag.Tag) + "' title='" + tag.Name + "'>" + tag.Name + "</a>").ToArray(); 
                }
                @Html.Raw(string.Join(", ", tagsList))
            </div>
        </div>*@
    </article>
	
	
