<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/global.css" />
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/skinWidth.css" />


<script>
  $(document).ready(function(){
    @*$("#hero").css("display", "none");*@
    @* $("nav").css("color", "black"); *@
    $("#BannerHenry").addClass("is-red-on-white");
});
</script>


<section class="u-text-center newsroom">
    <div>
        @* toolbar for add / manage posts *@

	@Edit.Toolbar(toolbar: new object[] { 
    	    new { 
                command = new { 
        			action = "new", 
        			contentType = "News"
    		    } 
    		},
    		new { 
                command = new { 
                    action = "contentitems", 
                    contentType = "News"
                },
                showCondition = true
    		}
    	}, settings: new { hover="left", show = "hover" })

       
       
       
       <div class="c-newsroom-listing">
            @{
            
                var items = @AsDynamic(Data["News"]);
                var itemCount = 0;
            
            }

            
            @* Limited to just three posts *@

            @foreach(var item in items)
            {
                if (itemCount == 0 || itemCount == 1 || itemCount == 2)
                {
                    <text>
                       @* <div class="sc-element">
                        </div>*@
                        <div class="c-newsroom-listing__item c-newsroom-listing__item--wide wow fadeInUp">
                            
                	    	@RenderPage("_list-item.cshtml", new { Item = item })
                	    	
                		</div>
        		    </text>
                    
                    itemCount++;
                
                }
              else
              {
              
                    <text>
                    <div class="c-newsroom-listing__item c-newsroom-listing__item--wide c-newsroom-listing--all c-news-press-listing--all wow fadeInUp hidden visuallyhidden">
                       
            	    	@RenderPage("_list-item.cshtml", new { Item = item })
            		</div>
        		    </text>
              
              
              }

            }
            
        @* Paging Bar *@
    @* @RenderPage("_paging.cshtml") *@
            
       </div>
      @*<div class="u-spacing-80"></div>*@
        <div class="u-spacing-20"></div><a class="c-btn c-btn--outline c-btn--wide c-btn--list-all" href="#">View All</a>
          <div class="u-spacing-60"></div>
   <div/> 
   
   </section>
