@*For news room*@

@{
    var lib = CreateInstance("_library.cshtml");
    var item = PageData["Item"];

    var newsPageTab = @Dnn.Module.TabID;

}



<article class="c-post-excerpt" style="background-image: url(@item.Image.ToLower()?w=100%;h=100%;mode=max&amp;scale=both;)">
    <div class="app-blog-col1 sc-element">
        @*@Edit.Toolbar(item, toolbar: new {
                entityId = item.EntityId,
                entityGuid = item.EntityGuid,
                entityTitle = item.EntityTitle }
            )*@

        


        @{
            string detailsLink = @lib.LinkToPage(newsPageTab, "mid", ((String.IsNullOrEmpty(Content.MainModuleId)) ? (Dnn.Module.ModuleID).ToString() : (Content.MainModuleId)), "details", item.EntityId.ToString(), "title", item.UrlKey);
        }
        @*<a href="@Link.To(parameters: "item=" + item.UrlKey)" title="@item.Title" class="u-ninja-link">*@
        <a href="@detailsLink" title="@item.Title" class="u-ninja-link">
            <div class="c-post-excerpt__inner">
                <header class="c-post-excerpt__header">
                    <!--h5.c-post-excerpt__cat Media-->
                    <h2 class="c-post-excerpt__title">@item.Title</h2>
                </header>
                <div class="c-post-excerpt__content">
                    @* Usually use item.Teaser here, but current layout uses the title. *@
                    @Html.Raw(item.Title)
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="15" viewbox="0 0 27.9 16">
                        <path d="M2.2 0l14 13.8L14 16 0 2.2 2.2 0zm23.6 0L28 2.2 14 16l-2.2-2.2L25.8 0z" fill="#fff"></path>
                    </svg>
                </div>
            </div>

        </a>

    </div>

</article>


