@{
    var paging = AsDynamic(Data["Paging"]).FirstOrDefault();
    var newsPage = PageData["newsPage"];
}

<div class="app-news-paging">
        @if (!(paging.PageNumber <= 1))
        {
            <a class="app-news-prev-pager" href="@LinkToPageNumber((int)(paging.PageNumber) - 1, newsPage)">&lsaquo;</a>
        }
        @if (@paging.PageSize >= 0)
        {
            for(int i = 1; i <= @paging.PageCount; i++)
            {
                if (i == paging.PageNumber)
                {
                    <a class="app-news-paging-active">@i</a>
                }
                else
                {
                    <a href="@LinkToPageNumber(i, newsPage)">@i</a>
                }
            }
        }
        @if (!(paging.PageNumber >= paging.PageCount))
        {
            <a class="app-news-next-pager" href="@LinkToPageNumber((int)(paging.PageNumber) + 1, newsPage)">&rsaquo;</a>
        }
</div>

@functions {
	// generate a paging-link number, preserving current category parameters
    public string LinkToPageNumber(int pageNumber, String newsP){
        string url = (@newsP + "/" + (!String.IsNullOrEmpty(Request.QueryString["category"]) ? "sort/" + (Request.QueryString["category"] + "/") : "") + "page/" + pageNumber);
        return url.ToLower();
    }
}