<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/global.css" />
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/skinWidth.css" />






    
    <div>
        
        @* toolbar for add / manage posts *@
    	@Edit.Toolbar(toolbar: new object[] { 
    	    new { 
                command = new { 
        			action = "new", 
        			contentType = "Press Release"
    		    } 
    		},
    		new { 
                command = new { 
                    action = "contentitems", 
                    contentType = "Press Release"
                },
                showCondition = true
    		}
    	}, settings: new { hover="left", show = "hover" })
    	

   

            
             @*   <div class="c-touts"> *@
                <div class="press__release">




         @foreach(var cont in AsDynamic(Data["Default"]))
         {
            

      
                     
                    <article class="c-tout press__release c-touts__item">
                        <div class="c-touts__item--child">
                            <div class="c-tout__presscontent">
                                
                                
                                <h5 class="press__date">@cont.Date</h5>
                                <h3 class="c-heading-19 c-tout__title">@cont.EntityTitle</h3>
                                @Edit.Toolbar(Content, actions: "edit")
                                
                                
                            </div>
                        </div>
                    </article>
         
                


            

        }
        </div>
		</div>
        
       @*  </div> *@
        
	</div>