<script type="text/javascript" src="@App.Path/assets/owl.carousel.min.js" data-enableoptimizations="true"></script>
<link rel="stylesheet" href="@App.Path/assets/owl.carousel.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="@App.Path/assets/owl.2sic.css" data-enableoptimizations="true" />

<div class="co-gallery">
    <div class="co-list owl-carousel">
        @foreach (var e in List)
        {
            var Content = e.Content;
            <div class="sc-element co-gallery-slide @(List.IndexOf(e) == List.Count - 1 ? "last" : "")">
                @Html.Raw(Content.Toolbar)
                    <img class="co-gallery-image lazyOwl" data-src="@(Content.Image)?w=1020&amp;h=468&amp;mode=crop&amp;scale=both&amp;quality=80" alt="@Content.Title" />
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        // Sort random function
        function random(owlSelector) {
            owlSelector.children().sort(function () {
                return Math.round(Math.random()) - 0.5;
            }).each(function () {
                $(this).appendTo(owlSelector);
            });
        };


        /* Image Gallery */
        $(".owl-carousel").owlCarousel({

            items: 1,
            itemsDesktop: false,
            itemsDesktopSmall: false,
            itemsTablet: false,
            itemsMobile: false,
            lazyLoad: true,
            navigationText: ["&lt;", "&gt;"],
            pagination: @App.Settings.ShowPagination.ToString().ToLower(),
            theme: "owl-2sic",
            autoPlay: @App.Settings.AutoPlay.ToString().ToLower(),
            rewindSpeed: -1,
            rewindNav: @App.Settings.RewindNav.ToString().ToLower(),
            navigation: @App.Settings.ShowNavigation.ToString().ToLower(),
            beforeInit: function (elem) {
                if(@App.Settings.Randomize.ToString().ToLower())
                    random(elem);
            }
        });
    });
</script>