@using System.Web.UI.HtmlControls
@using Connect.Koi;

@{
    var item = AsDynamic(Data["Default"]).FirstOrDefault();
    var lib = CreateInstance("_library.cshtml");
    
    var newsPage = "";
    var newsPageTab = @Dnn.Module.TabID;

    var pageHandler = HttpContext.Current.Handler as Page;
    var tp = (DotNetNuke.Framework.CDefault)pageHandler;    
}
<repeat>
@item.question
@item.answer
</repeat>

<div class="app-blog-backlinks">
		<a class="app-blog-btn app-blog-back" href="@Link.To()" title="Home">@App.Resources.BackToHome</a>
	</div>