<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/style.css" />


<h1>Questions we want answered.</h1>

<ol>
    
    <repeat>
        
        <li class="sc-element">
            
            <a href="answer/details.aspx?id=@Content.EntityId">@Content.Question</a>
            @Edit.Toolbar(Content, settings: new { hover = "none" })
           
            
        </li>
        
    </repeat>
    
</ol>



<repeat>
    
    
    
</repeat>