<div class="sc-element">
	[Content:Toolbar]
	<a href="[Tab:FullUrl]">
		<img src="http://api.qrserver.com/v1/create-qr-code/?color=[Presentation:Color]&bgcolor=[Presentation:BackgroundColor]&qzone=[Presentation:Border]&margin=0&size=[Presentation:Size]x[Presentation:Size]&ecc=[Presentation:ErrorCorrection]&data=[Tab:FullUrl]" />
	</a>
	<div style="display: [Presentation:ShowLinkBelow]">[Tab:Title]</div>
</div>