<div class="sc-element">
	[Content:Toolbar]
	<a href="http://[Portal:Url]/tabid/[Tab:tabid]">
		<img src="http://api.qrserver.com/v1/create-qr-code/?color=[Presentation:Color]&bgcolor=[Presentation:BackgroundColor]&qzone=[Presentation:Border]&margin=0&size=[Presentation:Size]x[Presentation:Size]&ecc=[Presentation:ErrorCorrection]&data=[Portal:Url]/tabid/[Tab:tabid]" />
	</a>
</div>