<div class="sc-element" style="width: [Presentation:Width]px; text-align: center">
	[Content:Toolbar]
	<a href="[Content:Link]">
		<img src="http://api.qrserver.com/v1/create-qr-code/?color=[Presentation:Color]&bgcolor=[Presentation:BackgroundColor]&qzone=[Presentation:Border]&margin=0&size=[Presentation:Size]x[Presentation:Size]&ecc=[Presentation:ErrorCorrection]&data=[Content:Link]" />
	</a>
	<div style="display: [Presentation:ShowLinkBelow]">[Content:Link]</div>
</div>