<script type="text/javascript" data-enableoptimizations="true" src="[App:Path]/assets/jquery.event.move.js"></script>
<script type="text/javascript" data-enableoptimizations="true" src="[App:Path]/assets/jquery.twentytwenty.autoload.js"></script>
<link rel="stylesheet" data-enableoptimizations="true" href="[App:Path]/assets/twentytwenty.extended.css" />

<div class="app-compimg sc-element" style="margin-bottom:25px;">
	<h2>
		[Content:Title]
		[Content:Toolbar]
	</h2>
	<div class="app-compimg-[Content:EntityId] app-compimg-left app-compimg-showoverlay-[Content:ShowButtons] twentytwenty-container" style="width:[Presentation:Width]px">
		<img src="[Content:BeforeImage]?mode=[Presentation:ScaleMode]&w=[Presentation:Width]&h=[Presentation:Height]&scale=both" />
		<img src="[Content:AfterImage]?mode=[Presentation:ScaleMode]&w=[Presentation:Width]&h=[Presentation:Height]&scale=both" />
	</div>
	<div>
		[Content:DescriptionText]
	</div>
	<div style="clear:both;"></div>
</div>

<style type="text/css">
	.app-compimg-[Content:EntityId] .twentytwenty-after-label:before { content: "[Content:AfterText]"; }
	.app-compimg-[Content:EntityId] .twentytwenty-before-label:before { content: "[Content:BeforeText]"; }
</style>

<script>$(window).trigger('load');</script>