﻿<div>
    <div class="conn-mailchimp-formGroup">
        <label data-bind="html: configurations[0].localizedName"></label>
        <div class="conn-mailchimp-formItem">
            <input data-bind="value: apiKey" type="text" />
        </div>
    </div>
</div>