<article class="bbs-listarticle">
  <div class="supertitle">[subtemplate|Cat.html|categories]</div>
  <h2><a href="[Post:link]">[post:localizedtitle]</a></h2>
  <figure>
    [subtemplate|ListImage.html|post:hasimage]
  </figure>
  <div class="content">
    <div class="summary">
      [post:localizedsummary]
    </div>
    <div class="metadata">
      <div><a href="[urls:module|true]author=[post:CreatedByUserID]">[post:DisplayName]</a></div>
      <div>[subtemplate|Kw.html|keywords]</div>
      <div data-time="[post:PublishedOnDate|yyyy-MM-dd HH:mm:ss]" class="moment">[post:PublishedOnDate|yyyy-MM-dd]</div>
      [if|1][Post:published][=]False[/if]
      <div class="bg-danger">[resx:Unpublished]</div>
      [endif|1]
      <div>
        <i class="glyphicon glyphicon-eye-open"></i>
        <div class="stat">[post:viewcount]</div>
      </div>
      <div>
        <i class="glyphicon glyphicon-comment"></i>
        <div class="stat">[post:nrcomments]</div>
      </div>
    </div>
  </div>
</article>