﻿/* Content Pane */
.topPane {
    margin: 0 0 20px 0;
}

.contentPane {
    width: 100%;
}

.leftPaneNarrow {
    float: left;
    width: 240px;
}

.rightPaneWide {
    float: right;
    width: 725px;
}

@media only screen and (min-width: 48em) and (max-width: 63.9em) {
    .header-copy {
        padding: 15px;
        width: 45%;
        float: left;
    }

    .header-image {
        padding-top: 15px;
        padding-right: 15px;
        display: block;
        width: 48%;
        float: left;
    }

    .CTA-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
    .rightPaneWide {
        width: calc(100% - 255px);
    }
}

@media only screen and (min-width: 64em) {
    .header-copy {
        width: 50%;
        float: left;
    }

    .header-image {
        padding-top: 15px;
        width: 50%;
        float: right;
    }

    .CTA-btn {
        width: 50%;
    }
}

@media only screen and (max-width: 47.9em) {
    .topPane {
        float: none;
        width: 95%;
        margin: 0 auto 0 auto;
    }

    .contentPane {
        float: none;
        width: 95%;
        margin: 15px auto 0 auto;
    }

    .leftPaneNarrow {
        float: none;
        width: 95%;
        margin: 15px auto 0 auto;
    }

    .rightPaneWide {
        float: none;
        width: 95%;
        margin: 15px auto 15px auto;
    }

    .header-copy {
        padding: 15px;
    }

    .header-image {
        display: none;
    }

    .CTA-btn {
        padding-bottom: 10px;
    }
}

/* temp adjustment */
.dnnFormMessage.dnnFormWarning {
    margin: auto;
    text-align: center;
}

/* Content Styling */
/* Top Banners */
.header-image-960 {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
/* Home Page */
.header-copy .Story-Header {
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    text-align: left;
    display: block;
}

.image-shadow > img {
    width: 100%;
}

.Story-Body {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #FFF;
    text-align: left;
    line-height: 24px;
}

.CTA-btn {
    background-color: #09F;
    text-align: center;
    padding: 15px 20px 15px 20px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
}

.image-CTA-padding-left, .image-CTA-no-padding {
    float: left;
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
}

.image-CTA-text-padding {
    background-color: #606060;
    text-align: center;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}
/* Our Products */
.product-header-text {
    text-align: center;
    padding: 25px 0 25px 0;
    margin: 0px;
    background-color: #333;
}

    .product-header-text h1 {
        color: #FFF;
    }

.product-overview-container {
    width: 250px;
    background-color: #FFF;
    padding: 25px;
    float: left;
    margin-bottom: 25px;
}

.product-image {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.product-name {
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.Gray-cap-text {
    font-size: 12px;
    color: #999;
    font-variant: small-caps;
}

.tv-size {
    margin-right: 10px;
    margin-left: 10px;
}

.product-size {
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.greencircle {
    border: 2px solid #0C3;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.review-green-text {
    font-size: 18px;
    color: #07a82c;
    height: 40px;
}

.bullets ul {
    padding: 0px;
    color: #000;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.bullets li {
    padding-bottom: 10px;
}

.price {
    text-align: right;
    float: right;
}

.float-left {
    float: left;
}

.price {
    font-size: 14px;
    text-decoration: line-through;
}

.price2 {
    font-size: 14px;
    color: #000;
    float: right;
}

.price3 {
    font-size: 14px;
    color: #F00;
    float: right;
}

.price-wrapper {
    height: 25px;
}

.Products-btn {
    background-color: #09F;
    margin-top: 15px;
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 84%;
    font-size: 16px;
    text-decoration: none;
}
