@* This generates the e-mail subject *@
@functions {
	public string Subject(dynamic request, dynamic helpers) {
		return helpers.App.Resources.MailCustomerSubject;
	}
}

@* This generates the e-mail body *@
@helper Message(dynamic request, ToSic.SexyContent.IAppAndDataHelpers helpers)
{
    <!doctype html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            body { font-family: Helvetica, sans-serif; }
        </style>
    </head>
    <body>
        @(new HtmlString(helpers.App.Resources.MailCustomerBody))
    </body>
</html>
}