
/* Simple Content */
.sc-element { margin-bottom:15px; }
.co-simplecontent-imagefull .co-image { width:100%; margin:0 0 20px 0; }
.co-simplecontent-imageleft .co-image { float:left; margin:0 20px 10px 0; }
.co-simplecontent-imageright .co-image { float:right; margin:0 0 10px 20px; }
.co-simplecontent-imageleft, .co-simplecontent-imageright { overflow:hidden; }
.co-div-hide { display:none; }

/* Video templates */
.co-video { margin-bottom:50px; }
.co-video-wrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; margin-top:20px; }
.co-video-wrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Google Map */
.co-google-map-container { margin: 0 0 20px 0;position: relative;  padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }
.co-google-map { position: absolute;top: 0;left: 0;width: 100%;height: 100%; }

/* Address List */
.co-addresslist-wrapper { overflow:hidden; }
.co-addresslist-item { width:33%; float:left; margin-bottom:15px; }
.co-addresslist-item p:last-child { margin-bottom:0; }
.co-addresslist-item-inner { border:1px solid #DDD; background:#FFF; padding:15px; }
.co-addresslist-item-0 .co-addresslist-item-inner { margin: 0 10px 0 0; }
.co-addresslist-item-1 .co-addresslist-item-inner { margin: 0 5px; }
.co-addresslist-item-2 .co-addresslist-item-inner { margin: 0 0 0 10px; }

/* Person */
.co-person-wrapper { overflow:hidden; }
.co-person { width:50%; float:left; margin-bottom:30px; }
.co-person p:last-child { margin-bottom:0; }
.co-person-inner { border:1px solid #DDD; background:#FFF; padding:15px; overflow:hidden; }
.co-person-0 .co-person-inner { margin:0 15px 0 0; }
.co-person-1 .co-person-inner { margin:0 0 0 15px; }
.co-person-inner img { float:left;}
.co-person-text { margin-left:170px; }

/* Images */
.co-image-fullwidth img { width:100%; }
.co-image-fullwidth i { margin-top:5px; display:block; }
.co-imagelist { margin-bottom:25px; overflow:hidden; }
.co-imagelist .co-imagelist-image { margin-right:15px; float:left; }
.co-imagelist-popup { width:auto!important; }

/* Line Template */
.co-separator-line:before {
	position:absolute;
	top:0; right:0; left:0; height:1px; display:block; content:' ';
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(142,142,142,1) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(142,142,142,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(142,142,142,1) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(142,142,142,1) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(142,142,142,1) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(142,142,142,1) 50%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow:0 0 40px 0px #000000;
	box-shadow:0 0 40px 0px #000000;
}
.co-separator-line {
	position:relative;
	margin: 48px 0 -48px;
	height:100px;
	border-top:1px solid #E8E8E8;
}