<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/global.css" />
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/skinWidth.css" />

@*<section class="skinWidth">*@
@{
    // get all posts as delived from the standard query
	var postsToShow = AsDynamic(Data["Default"]);
    var cat = AsDynamic(Data["Category"]).FirstOrDefault(); // get category if, if a category is selected
    
	// only apply this filter for non-editors
	if (!Permissions.UserMayEditContent) {
		postsToShow = postsToShow.Where(p => p.PublicationMoment <= DateTime.Now);
	}
}

    
@* optionaly show category header *@
@if(cat != null) {
    <div>
        <h1>@cat.Name</h1>
        @Html.Raw(cat.Description)
    </div>
}
    
<div>
    @* toolbar for add / manage posts *@
	@Edit.Toolbar(toolbar: new object[] { 
	    new { 
            command = new { 
    			action = "new", 
    			contentType = "BlogPost"
		    } 
		},
		new { 
            command = new { 
                action = "contentitems", 
                contentType = "BlogPost"
            },
            showCondition = true
		}
	}, settings: new { hover="left", show = "hover" })

    @* toolbar to manage list/view settings *@
    @*@Edit.Toolbar(ListContent)*@


    <div class="c-blog-listing">
    	@* the posts *@
    	@foreach(var post in postsToShow)
    	{
    	    <div class="c-blog-listing__item c-blog-listing__item--wide wow fadeInUp">
    		@RenderPage("_list-item.cshtml", new { Post = post })
    		</div>
    	}
    
    	@* Paging Bar *@
    	@RenderPage("_pager.cshtml")
    </div>

</div>
@*</section>*@

@functions{
    /// <summary>
    /// Populate the search - ensure that each entity has an own url/page
    /// </summary>
    /// <param name="searchInfos"></param>
    /// <param name="moduleInfo"></param>
    /// <param name="startDate"></param>
    public override void CustomizeSearch(Dictionary<string, List<ToSic.SexyContent.Search.ISearchInfo>> searchInfos, DotNetNuke.Entities.Modules.ModuleInfo moduleInfo, DateTime startDate)
    {
         foreach (var si in searchInfos["SearchIndex"])
		{
			si.QueryString = "post=" + AsDynamic(si.Entity).UrlKey;
		}
    }
}
