@using System.Web.UI.HtmlControls

<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/style.css" />
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/global.css" />
@{	
	var lib = CreateInstance("_library.cshtml"); 

	var post = AsDynamic(Data["Default"]).First();
    var author = (post.Author.Count > 0) ? post.Author[0] : lib.unknownAuthor;
	var imgWidth = post.ImageSquare ? "300" : "1000";
	var imgHeight = post.ImageSquare ? "300" : "500";
	var imgUrl = lib.GetSizedImgUrl(post.Image, imgHeight, imgWidth);

	// only add meta-tags if it's rendered as page - not when the search-index is accessing the template
	if (HttpContext.Current.Handler is Page)
	{
		lib.SetMetaAndTitle(post.MetaTitle, post.Title, post.MetaDescription, lib.StripHtml(post.Teaser));	

		var metaDesc = !String.IsNullOrEmpty(post.SharingDescription) ? post.SharingDescription : lib.StripHtml(post.Teaser);

		lib.SetOpenGraphHeaders( 
			post.Title, 
			App.Settings.Title, 
			Link.To(parameters: "post=" + post.UrlKey), 
			metaDesc, 
			imgUrl, 
			post.ImageSquare,
			imgHeight,
			imgWidth
			);
	}
}
@if(post.IsPublished || Permissions.UserMayEditContent) {
<section class="o-section o-container">
<div class="app-blog sc-element">
	@Edit.Toolbar(post, actions: "edit")	
	<div class="app-blog-detail"> <!-- Add class: app-blog-small -->
		<div class="app-blog-detail-top">
		    
		    
		    
		    
			@Content.SEO
			
			
			
			
			
			
			
			<h1>@post.Title</h1>
			<time pubdate datetime="@post.PublicationMoment.ToString("d")">@post.PublicationMoment.ToString("d")</time>
		</div>
		@if(!String.IsNullOrEmpty(post.Image)){
			<img class="app-blog-image @(post.ImageSquare ? " pull-right" : "") " src="@imgUrl" alt="" />
		}
		<div class="app-blog-text">
		    @ToSic.SexyContent.ContentBlocks.Render.All(post, field: "DesignedContent", merge: post.Body)
		</div>
	</div>

	@* show micro-previews for previous/next post *@
	@RenderPage("_Post micro preview.cshtml", new { post = AsDynamic(Data["Previous"]).FirstOrDefault(), css = "app-blog-previouslink", title = App.Resources.PreviousPost, leftIcon="glyphicon-arrow-left"})
	@RenderPage("_Post micro preview.cshtml", new { post = AsDynamic(Data["Next"]).FirstOrDefault(), css = "app-blog-nextlink", title = App.Resources.NextPost, rightIcon="glyphicon-arrow-right"})

	<hr />
	@* render social sharing here - to update the link, change it in the App settings *@
	@* http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b80656b72164d38*@
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b80656b72164d38&dnn-cdv-param" data-enableoptimizations="bottom" ></script> 
	<div class="addthis_inline_share_toolbox"></div>
    
	
	@* show categories and tags *@
	<div class="app-blog-categories">
		<strong> @(post.Categories.Count > 1 ? App.Resources.Categories : App.Resources.Category): </strong>
        <ol class="app-blog-csv">
            @foreach(var cat in post.Categories as IEnumerable<dynamic>){
                <li><a href="@Link.To(parameters: "category=" + cat.Key)" title="@cat.Name">@cat.Name</a></li>
            }
        </ol>	
    </div>
	<div>
		<strong> @(post.Tags.Count > 1 ? App.Resources.Tags : App.Resources.Tag): </strong>
        <ol class="app-blog-csv">
            @foreach(var tag in post.Tags as IEnumerable<dynamic>){
                <li><a href="@Link.To(parameters: "tag=" + tag.Tag)" title="@tag.Name">@tag.Name</a></li>
            }
        </ol>
	</div>
	<hr />

	@* show the author *@
	<div class="app-blog-authordetails">
		
	</div>
	<div class="app-blog-backlinks">
		<a class="app-blog-btn app-blog-back" href="@Link.To()" title="Home">@App.Resources.BackToHome</a>
	</div>
</div>
</section>
} else {
	@* this happens when an article isn't published yet *@
	Response.StatusCode = 404;
	Response.TrySkipIisCustomErrors = true;
	<h1>404 (not found)</h1>
	<p>
		<a class="app-blog-btn app-blog-back" href="@Link.To()" title="Home">@App.Resources.BackToHome</a>
	</p>
}
