<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/style.css" />
@{	
	var lib = CreateInstance("_library.cshtml"); 
	var author = AsDynamic(Data["Author"]).FirstOrDefault() ?? lib.unknownAuthor;
}
@{
    // get all posts as delived from the standard query
	var postsToShow = AsDynamic(Data["Default"]);
	
	// only apply this filter for non-editors
	if (!Permissions.UserMayEditContent) {
		postsToShow = postsToShow.Where(p => p.PublicationMoment <= DateTime.Now).Where(p => p.IsPublished);
	}
}

<div class="app-todo">
   <h1>@App.Resources.PostsBy @author.FullName</h1>
   
</div>

<div class="app-blog">
	@foreach(var post in postsToShow)
	{
		@RenderPage("_list-item.cshtml", new { Post = post })
	}
	@RenderPage("_pager.cshtml")
</div>