<%@ Page Language="C#" AutoEventWireup="false" Inherits="DotNetNuke.Enterprise.FolderProviders.DropboxFolderProvider.Authorize, DotNetNuke.Enterprise.FolderProviders" CodeBehind="Authorize.aspx.cs" %>