<link rel="stylesheet" href="@App.Path/assets/style.css" data-enableoptimizations="bottom" />

@{
    var term = AsDynamic(Data["Default"]).FirstOrDefault();
    var lib = CreateInstance("_library.cshtml");
    lib.SetMetaDescAndTitle(term.Title, term.Abbreviation, term.Summary);
}

<div class="sc-element">
    @Edit.Toolbar(term, actions: "edit")
    <h1>
        @(String.IsNullOrEmpty(term.Abbreviation) ? "" : term.Abbreviation + " – ")
        @term.Title
    </h1>
    <p>
        <strong>@Html.Raw(term.Summary)</strong>
    </p>
    <p>@Html.Raw(term.Details)</p>
    <div class="app-glossary-detail-goback">
        <a href="@App.Settings.List#@term.Title.Substring(0, 1)" class="btn btn-primary btn-sm">@App.Resources.GoBackText</a>    
    </div>
</div>

       
