﻿<div>
    <div>
        <label data-bind="html: configurations[0].localizedName"></label>
        <input data-bind="value: configurations[0].value" type="text"/>
    </div>
    <div>
        <label data-bind="html: configurations[1].localizedName"></label>
        <input data-bind="value: configurations[1].value" type="text"/>
    </div>
    <div class="clear"></div>
</div>