.app-news {
    &.app-news-detail {
        // Content Styles
        .app-content {
            margin: 0 auto;
            margin-bottom: $grid-gutter-width/1.5;
            @include media-breakpoint-up(lg) {
                margin-bottom: $grid-gutter-width;
            }

            .app-news-detail-img {
                margin-bottom: $grid-gutter-width/1.5;

                @include media-breakpoint-up(md) {
                    float:right;
                    width:47%;
                    margin-left: 6%;
                }

                &.app-news-missing-img {
                    text-align: center;
                }

                &.app-noimg {
                    background: #e9ecef;
                    padding: 60px 0;
                }
            }
        }
        .app-news-detail-teaser {
            font-weight: 700;
        }
    }
}

.sc-content-block-quick-insert {
    display: none !important;
}
