@using System.Web.UI.HtmlControls
<script type="text/javascript" src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js" data-enableoptimizations="true"></script>
<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />
<script src="@App.Path/bower_components/jquery-validation/dist/jquery.validate.min.js" data-enableoptimizations="true"></script>

<script>
    var courseRegResources = @Html.Raw(Json.Encode(Sxc.Serializer.Prepare(App.Resources)));
</script>
<script src="@App.Path/dist/scripts.js"></script>

@{
    var course = AsDynamic(App.Data["Course"].List[Convert.ToInt32(Request.QueryString["cid"])]);
}

<div class="ly-maxwrapper ly-maxwrapper-white">
    <div class="container-fluid ly-content">
        <div class="ly-container-inner">

@if (course == null || (course.deleted is bool && course.deleted))
{
    <div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		@App.Resources.CourseNotFoundError
	</div>
}
else
{
    <div class="sc-element">
		@Html.Raw(course.Toolbar)
		<h1>@App.Resources.CourseRegistrationTitle - @course.Title</h1>
        <div class="form form-horizontal cf-wrapper @("cform-id" + Dnn.Module.ModuleID) sc-element">
            @Edit.Toolbar(Content)
            @Textbox(App.Resources.LabelCourseName, "CourseName", true, disabled: true, value: course.Number)
            @Textbox(App.Resources.LabelCourseNumber, "CourseNumber", true, disabled: true, value: course.Title)
            @Textbox(App.Resources.LabelCourseLocation, "CourseLocation", true, disabled: true, value: course.City)
            
            <div class="form-group">
            @Label(App.Resources.LabelCourseDate, "Date")
            <div class="@classControlWrapper">
                <textarea required class="form-control" id="Date" name="Date" disabled="disabled" rows="3">@course.Time</textarea>
            </div>
            </div>
            
            <h3>@App.Resources.CourseParticipantData</h3>
            <div class="form-group">
            @Label(App.Resources.LabelParticipantSalutation, "Salutation")
            <div class="@classControlWrapper">
                <div class="radio">
                    <label>
                        <input name="Salutation" type="radio" value="@App.Resources.LabelMrs" checked="checked">
                        @App.Resources.LabelMrs
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input name="Salutation" type="radio" value="@App.Resources.LabelMr">
                        @App.Resources.LabelMr
                    </label>
                </div>
                
            </div>
            </div>

            @Textbox(App.Resources.LabelParticipantFirstName, "FirstName", true)
            @Textbox(App.Resources.LabelParticipantLastName, "LastName", true)
            @Textbox(App.Resources.LabelParticipantStreet, "Street")
            @Textbox(App.Resources.LabelParticipantZIPCity, "ZIPCity")
            
            <div class="form-group">
            @Label(App.Resources.LabelParticipantCountry, "Country")
            <div class="@classControlWrapper">
                <select class="form-control" id="Country" name="Country" required>
                    <option value="">@App.Resources.PleaseSelectCountry</option>
                    @foreach(var country in App.Resources.CountrySelection.Split('\n')) {
                        <option value="@country">@country</option>
                    }
                </select>
            </div>
            </div>

            @Textbox(App.Resources.LabelParticipantPhone, "Phone")
            @Textbox(App.Resources.LabelParticipantMail, "Mail", true, "email")
            
            <div class="form-group">
            @Label(App.Resources.LabelParticipantBirthDate, "BirthDate")
            <div class="@classControlWrapper">
                <input type="text" class="form-control" id="BirthDate">
            </div>
            </div>

            @Textbox(App.Resources.LabelParticipantNationality, "Nationality", true)

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="button" class="cf-submit btn btn-primary">@App.Resources.ButtonRegister</button>
                </div>
            </div>

            <input type="hidden" id="Course" name="Course" value="@course.EntityGuid">
        </div>

        <div class="cf-info-sent bg-success">
            <h2>@App.Resources.SuccessThanks</h2>
            @App.Resources.SuccessMessage
        </div>

	</div>
}






@helper Label(string label, string forControl) {
    <label class="@classLabel" for="@forControl">@label</label>
}


@helper Textbox(string label, string id, bool required = false, string type = "text", string value = "", bool disabled = false) {
    <div class="form-group @(required ? "cf-required" : "")">
      @Label(label, id)
      <div class="@classControlWrapper">
          <input value="@value" type="@type" required="@required" class="form-control" id="@id" name="@id" disabled="@disabled">
      </div>
    </div>
}
</div></div></div>

@functions {
    public string classLabel = "col-sm-3 ";
    public string classControlWrapper = "col-sm-9 ";
}