﻿@charset "UTF-8";
/* Cavalier Container Set styles */

/* NoTitle
-------------------------------------*/
.DNNContainer_noTitle {
    padding:0px;
    word-wrap: break-word;
}
.DNNContainer_noTitle_Black {
    background-color: #000;
    width: 100%;
}
.DNNContainer_noTitle_Yellow {
    width: 100%;
    background-image: url(Images/header-bg.png);
    background-repeat: repeat-x;
}
/* Title_h1 
-------------------------------------*/
.DNNContainer_Title_h1 {
    padding-bottom: 20px;
}
.DNNContainer_Title_h1 h1 .TitleH1 {
	display: block;
}

/* Title_lightGray 
-------------------------------------*/
.DNNContainer_Title_h5 h5 .TitleH5 {
	display: block;
	margin-bottom: 15px;
}

.DNNContainer_Title_h5 {
	padding: 20px;
	background-color: #e8e4e3;
}

/* Title_white 
-------------------------------------*/
.DNNContainer_Title_h6 h6 .TitleH6 {
	display: block;
} 

.DNNContainer_Title_h6 {
	padding: 20px;
	background-color: #fff;
	border: 1 px solid #e8e8e8;
}
.DNNContainer_ProductColumn {
    padding-left: 8px;
    padding-top:10px;
}
.DNNContainer_ProductColumn img {
    margin-left: auto;
    margin-right: auto;
    display:block;
}
    .DNNContainer_ProductColumn ul.size li {
        display:inline;
        list-style-type:none;
    }
.DNNContainer_Title_h2 {
    padding: 14px;
}
    .DNNContainer_Title_h2 h2 .TitleH2 {
	display: block;
	margin-bottom: 25px;
}


