<%@ Control AutoEventWireup="false" Explicit="True" Inherits="DotNetNuke.UI.Containers.Container" %>
<div class="DNNContainer_noTitle_Yellow">
	<div id="ContentPane" runat="server"></div>
	<div class="clear"></div>
</div>

