/*  Styles needed by the employee directory to align stuff
    Uses the 2sic naming conventions
*/
    .app-empdir-map-right-wrapper { width:50%; float:right; }
	.app-empdir-map-contactdetail {width: 250px; height: 267px; margin-bottom: 30px}
	.app-empdir-map-right { height: 267px; float:right; }
	.app-empdir-map-right iframe { height:100%;  }
	.app-empdir-wrapper { overflow:hidden; }
	.app-empdir-outer { width:50%; float:left; box-sizing:border-box; padding-right:15px; }
	.app-empdir-link { overflow:hidden; margin-bottom: 15px; padding:10px; background:#FAFAFA; border: 1px solid #EFEFEF; display:block; }
	.app-empdir-link:hover { background:#ECECEC; border-color:#CFCFCF; transition:background 300ms;  text-decoration:none; }
	.app-empdir p {margin-bottom: 18px;}
	.app-empdir-person-image {float: left; margin-right: 21px;height:auto; margin-bottom:50px; overflow:hidden;}
	.app-empdir-person-image img { width:100%; max-width:200px; }
	.app-empdir-details { overflow:hidden; }
	.app-empdir-person-description { float:left; }
