<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/global.css" />
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/skinWidth.css" />


@{
    var lib = CreateInstance("_library.cshtml");

    var catFilter = Request.QueryString["category"];
    var hasCategoryFilter = !String.IsNullOrEmpty(catFilter);
    var allCategories = AsDynamic(App.Data["Category"]);

    var newsPage = @Dnn.Tab.FullUrl;
    var newsPageTab = @Dnn.Module.TabID;
}


@if (!String.IsNullOrEmpty(Content.NewsPage))
{
    newsPage = Content.NewsPage;
    newsPageTab = int.Parse((AsEntity(Content).GetBestValue("NewsPage")).Split(':')[1]);
}


<section class="u-text-center newsroom">

    <div>
        @* toolbar for add / manage posts *@

        @Edit.Toolbar(toolbar: new object[] {
                new {
                    command = new {
                        action = "new",
                        contentType = "News"
                    }
                },
                new {
                    command = new {
                        action = "contentitems",
                        contentType = "News"
                    },
                    showCondition = true
                }
            }, settings: new { hover="left", show = "hover" })




        <div class="c-newsroom-listing">
            @{

                var items = @AsDynamic(Data["News"]);
                var itemCount = 0;

            }


            @* Limited to just three posts *@

            @foreach (var item in items)
            {
                if (itemCount == 0 || itemCount == 1 || itemCount == 2)
                {
                    <text>
                        <div class="press__release">

                            @RenderPage("_list-item.cshtml", new { Item = item })

                        </div>
                    </text>

                    itemCount++;

                }
                else
                {

                    <text>
                        <div class="press__release">

                            @RenderPage("_list-item.cshtml", new { Item = item })
                        </div>
                    </text>


                }

            }

            @* Paging Bar *@
            @* @RenderPage("_paging.cshtml") *@

        </div>
        <div class="u-spacing-80"></div>


        @*<a class="c-btn c-btn--outline c-btn--wide c-btn--list-all">View All</a>*@
        <a class="c-btn c-btn--outline c-btn--wide">View All</a>

        @*<div class="u-spacing-20"></div>*@
        <div />
    </div>
</section>
