@using System.Web.UI.HtmlControls
@using Connect.Koi;

<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/global.css" />
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/skinWidth.css" />


@* Need to add class c-theme-red *@

<script>
  $(document).ready(function(){
      $("#hero").css("display", "none");
      $("#HeaderHenry").css("display", "none");
      $("#DivHenry").css("display", "none");
    @* $("nav").css("color", "black"); *@
      $("#BannerHenry").addClass("is-red-on-white");
      $("#SectionHenry").removeClass("o-section o-container u-text-center");

});
</script>



@{
    var item = AsDynamic(Data["Default"]).FirstOrDefault();
    var lib = CreateInstance("_library.cshtml");

    var newsPage = "";
    var newsPageTab = @Dnn.Module.TabID;

    var pageHandler = HttpContext.Current.Handler as Page;
    var tp = (DotNetNuke.Framework.CDefault)pageHandler;
}
@if (pageHandler != null && tp != null)
{
    if (!String.IsNullOrEmpty(item.Body))
    {
        var description = lib.StripHTML(item.Teaser);

        tp.Description = description;
        var metaDescription = (HtmlMeta)pageHandler.FindControl("metaDescription");
        metaDescription.Visible = true;
        metaDescription.Content = HttpUtility.HtmlAttributeEncode(description);
    }

    if (!String.IsNullOrEmpty(item.Title))
    {
        pageHandler.Title = item.Date.ToString("dd.MM.yyyy") + " - " + item.Title + " | " + Dnn.Module.ParentTab.TabName + " | " + Dnn.Portal.PortalName;
    }
}
@if (!String.IsNullOrEmpty(Content.NewsPage))
{
    newsPage = Content.NewsPage;
    newsPageTab = int.Parse((AsEntity(Content).GetBestValue("NewsPage")).Split(':')[1]);
}

else if ((@AsDynamic(Data["Default"]).Count() < 1) || (Permissions.UserMayEditContent == false && item.PublicationMoment > DateTime.Now) || (Permissions.UserMayEditContent == false && item.DeprecationMoment < DateTime.Now))
{
    <div>
        <p>
            @App.Resources.LabelEventNotExists
        </p>

        <a class="btn btn-primary app-news-backtolist" href="@Link.To()">@Html.Raw(App.Resources.LabelBackToList)</a>
    </div>
}
else
{
    @*<section>*@
    <div class="u-spacing-80"></div>
    <header class="c-page-head wow fadeInUp c-theme-red press-release" style="visibility: visible; animation-name: fadeInUp;">

        <div class="o-container o-container--thin">

            <h1 class="c-page-head__title white c-heading-38 font-demibold">
                @item.Title
                @if (item.PublicationMoment.Date > DateTime.Now.Date)
                {
                    <span class="app-events-pill">&Ouml;FFENTLICH&nbsp;AB&nbsp;@item.PublicationMoment.Date.ToString("MMMM dd, yyyy")</span>
                }
                @if (item.DeprecationMoment.Date <= DateTime.Now.Date)
                {
                    <span class="app-events-pill">ABGELAUFEN&nbsp;SEIT&nbsp;@item.PublicationMoment.Date.ToString("MMMM dd, yyyy")</span>
                }
            </h1>
            <span class="app-date @((item.Categories.Count >  0 && App.Settings.ActivateCategories) ? "app-date-border" : "")"><strong>@item.Date.ToString("MMMM dd, yyyy")</strong></span> <br /><br />
            <span class="app-categories">
                @*   @if (App.Settings.ActivateCategories)
                    {
                        foreach (var cat in @item.Categories)
                        {
                            <a href="@lib.LinkToPage(newsPageTab, "category", cat.UrlKey, "", "", "", "")">@cat.Name</a>
                        }
                    } *@
            </span>
            @*@Html.Raw(App.Resources.LabelBackToList)*@
            <p class="alignleft"><a class="link-back" style="color:white;" href="@Link.To()"><img class="btn-back" width="20%" src="~/Portals/0/2sxc/News/keyboard-arrow-right.svg" alt="back"><span class="back">Back</span></a></p>
        </div>

    </header>


    @*<a class="btn btn-primary app-news-backtolist" href="@Link.To()">@Html.Raw(App.Resources.LabelBackToList)</a>*@





    <section class="c-news-page c-theme-red">
        @*<img class="u-img-respond" src="/img/content/newsroom/BostonClinic-Newsroom.jpg" alt="Boston Clinic">*@

        

        @if (!String.IsNullOrEmpty(@item.Image))
        {
            if (item.Lightbox)
            {
                @:<a class="fancybox u-img-respond" title="@item.Title" href="@item.Image?w=1200&amp;h=1200&amp;mode=max&amp;scale=both&amp;quality=80">
                }
                <div>
                    <img @Koi.Class("all='' bs3='img-responsive' bs4,oth='img-fluid'") src="@item.Image?w=800&amp;mode=max&amp;scale=both&amp;quality=80&amp;anchor=@item.CropAnchor" alt="@item.Title" />
                </div>
                if (item.Lightbox)
                {
                @:</a>
            }
        }
        @*else
        {
            <div class="app-news-detail-img app-news-missing-img @((String.IsNullOrEmpty(@item.Image)) ? "app-noimg" : "")">
                <img @Koi.Class("all='' bs3='img-responsive' bs4,oth='img-fluid'") src="@App.Resources.PlaceholderMissingImage?max-width=20&amp;mode=max&amp;scale=both&amp;quality=80" alt="@item.Title" />
            </div>
        }*@

    </section>

    @*</section>*@


    <section class="o-section o-container o-container--thin wow fadeInUp padding-small--bottom" style="visibility: visible; animation-name: fadeInUp;">
        

        @* @Edit.Toolbar(actions: "new, contentitems", contentType: "News", prefill: new { Date = DateTime.Now.Date, PublicationMoment = DateTime.Now.Date, DeprecationMoment =  (DateTime.Now.AddYears(3)).Date } , settings: new { hover = "left", showCondition = true }) *@
        @Edit.Toolbar(Content, actions: "edit")







        <div>
            

            

            @if (item.ShowTeaserInDetail)
            {
                <p class="app-news-detail-teaser">
                    @item.Teaser
                </p>
            }

            <p class="app-news-detail-body">
                @ToSic.SexyContent.ContentBlocks.Render.All(item, field: "BodyContentBlocks", merge: item.Body)
            </p>


        </div>


    </section>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" data-enableoptimizations="true" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" data-enableoptimizations="true"></script>
<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs3")).css" data-enableoptimizations="true" />

<script>
    $(function () {
        $(".fancybox").fancybox();
    })
</script>
