<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/global.css" />
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/Portals/_default/Skins/MedmenCorporate_2018/css/skinWidth.css" />


<section class="skinWidth">
    <div>
        @* toolbar for add / manage posts *@
    	@Edit.Toolbar(toolbar: new object[] { 
    	    new { 
                command = new { 
        			action = "new", 
        			contentType = "News"
    		    } 
    		},
    		new { 
                command = new { 
                    action = "contentitems", 
                    contentType = "News"
                },
                showCondition = true
    		}
    	}, settings: new { hover="left", show = "hover" })
        
       
       <div class="c-newsroom-listing">
            
            @{
            
                var items = @AsDynamic(Data["News"]);
                var itemCount = 0;
            
            }
            
            
            @* Limited to just three posts *@
            
          
            
            @foreach(var item in items)
            {
              
                    <text>
                        <div class="c-newsroom-listing__item c-newsroom-listing__item--wide c-newsroom-listing--all c-news-press-listing--all wow">
                            
                	    	@RenderPage("_list-item.cshtml", new { Item = item })
                	    	
                		</div>
        		    </text>
                    
            
            
            
            }
            
        
     
           
       </div>
   <div/> 
</section>