@*For news room*@

@{
    var lib = CreateInstance("_library.cshtml");
    var item = PageData["Item"];

    var newsPageTab = @Dnn.Module.TabID;

}


<article class="c-tout press__release c-touts__item">
    <div class="c-touts__item--child">
        @*@Edit.Toolbar(item, toolbar: new {
                entityId = item.EntityId,
                entityGuid = item.EntityGuid,
                entityTitle = item.EntityTitle }
            )*@




        @{
            string detailsLink = @lib.LinkToPage(newsPageTab, "mid", ((String.IsNullOrEmpty(Content.MainModuleId)) ? (Dnn.Module.ModuleID).ToString() : (Content.MainModuleId)), "details", item.EntityId.ToString(), "title", item.UrlKey);
        }
        @*<a href="@Link.To(parameters: "item=" + item.UrlKey)" title="@item.Title" class="u-ninja-link">*@
        <a href="@detailsLink" title="@item.Title" class="u-ninja-link">
            <div class="c-tout__presscontent">
                <h5 class="press__date">@item.Date</h5>
                <h3 class="c-heading-19 c-tout__title">@item.Title</h3>
                <h5 class="press__date">Read More</h5>
            </div>
        </a>

    </div>

</article>


