@using Connect.Koi;

@{
    var lib = CreateInstance("_library.cshtml");
    
    var catFilter = Request.QueryString["category"];
    var hasCategoryFilter = !String.IsNullOrEmpty(catFilter);
    var allCategories = AsDynamic(App.Data["Category"]);

    var newsPage = @Dnn.Tab.FullUrl;
    var newsPageTab = @Dnn.Module.TabID;
}
@if(!String.IsNullOrEmpty(Content.NewsPage)) 
{
    newsPage = Content.NewsPage;
    newsPageTab = int.Parse((AsEntity(Content).GetBestValue("NewsPage")).Split(':')[1]);
}

<div class="app-news app-news-masonry-grid sc-element app-news-outertb">
    @Edit.Toolbar(actions: "new, contentitems", contentType: "News", prefill: new { Date = DateTime.Now, PublicationMoment = DateTime.Now, DeprecationMoment =  DateTime.Now.AddYears(3) } , settings: new { hover = "left", showCondition = true })
    @Edit.Toolbar(Content)

    @if (hasCategoryFilter) {
        <div class="app-news-catinfo">
            <h2>@allCategories.Where(x => x.UrlKey == catFilter).FirstOrDefault().Name</h2>
            @foreach (var c in allCategories)
            {
                <span><a href="@lib.LinkToPage(newsPageTab, "category", c.UrlKey)">@c.Name</a>&ensp;|&ensp;</span>
            }
        </div>
    }
    <div class="app-news-container">
        @foreach (var item in  @AsDynamic(Data["News"]))
        {
            string detailsLink = @lib.LinkToPage(newsPageTab, "details", item.UrlKey);        
            
            <div class="app-news-item sc-element" onclick="window.open('@detailsLink','_self');">
                <div>
                    @Edit.Toolbar(item)
                    @if (!String.IsNullOrEmpty(@item.Image))
                    {
                        <div>
                            <img src="@item.Image" alt />
                        </div>
                    }
                    <div>
                        <h2>@item.Title</h2>
                        <span class="app-news-date">@item.Date.ToString("dd.MM.yyyy")</span>
                        <span class="app-news-categories">
                        @if (@item.Categories.Count >  0 && App.Settings.ActivateCategories)
                        {
                            @: |
                        }
                        @if(App.Settings.ActivateCategories) {
                            foreach (var cat in  @item.Categories)
                            {
                                <span><a href="@lib.LinkToPage(newsPageTab, "category", cat.UrlKey)">@cat.Name</a>&ensp;&ensp;&ensp;</span> 
                            }
                        }
                        </span>
                        <p>
                            @Html.Raw(item.Teaser.Replace("\n", "<br />"))
                        </p>

                        <a @Koi.Class("bs3='btn btn-primary' bs4,unk='btn btn-outline-primary'") href="@detailsLink">@Html.Raw(App.Resources.LabelReadMore)</a>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (!String.IsNullOrEmpty(catFilter)) {
        <a @Koi.Class("all='app-backtolist' bs3='btn btn-primary' bs4,unk='btn btn-outline-primary'") href="@newsPage">@Html.Raw(App.Resources.LabelBackToList)</a>
    }
    
    @if (Content.ShowPagination) {
            @RenderPage("_paging.cshtml", new { newsPage = newsPage }) }
</div>

<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs3")).css" data-enableoptimizations="true" />
<script src="@App.Path/dist/script.js" data-enableoptimizations="true" ></script>
