﻿<div class="gaBase">
    <div class="gaBaseFields">
        <label data-bind="html: configurations[0].localizedName"></label>
        <input id="gaTrackingId" data-bind="value: configurations[0].value" type="text"/>
    </div>
    <a class="advancedSetting" href="#" data-bind="attr: {title: resx.AdvancedSettings}"></a>
    <div class="clear"></div>
</div>