<link rel="stylesheet" type="text/css" href="[App:Path]/GettingStarted/assets/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="[App:Path]/GettingStarted/assets/scripts.js" data-enableoptimizations="true" />



<div class="sc-element co-google-map-container">
    <div class="co-google-map" id="GoogleMap-[Module:ModuleID]-[Content:EntityId]" style="width:100%; height:100%" data-zoom="">
    </div>
    <div class="co-google-map-content" id="GoogleMap-Content-[Module:ModuleID]-[Content:EntityId]" style="display:none;">
        <div style="max-width:250px;">
					<h3>[Content:Title]</h3>
					[Content:Description]
        </div>
    </div>
</div>

<script type="text/javascript">
    (function ( $ ) {
				
        $.fn.googleMap = function( options ) {

            var mapElement = this.get(0);

            var settings = $.extend({
								coordinates: { lat: 47.1599136, lng: 9.476709000000028 },
                zoom: 8,
                mapTypeId: "HYBRID",
                infoWindowHtml: "",
                showInfoWindow: true
            }, options);
						
						var mapOptions = {
								zoom: settings.zoom,
								mapTypeControl: true,
								center: new google.maps.LatLng(settings.coordinates.lat, settings.coordinates.lng),
								zoomControl: true,
								scaleControl: true,
								scrollwheel: false,
								mapTypeId: google.maps.MapTypeId[settings.mapTypeId]
						};

						var map = new google.maps.Map(mapElement, mapOptions);

						//Create InfoWindow
						var infoWindow = new google.maps.InfoWindow({
								content: settings.infoWindowHtml
						});

						// Create Marker
						var marker = new google.maps.Marker({
								position: mapOptions.center,
								map: map
						});

						// Add Event listener
						google.maps.event.addListener(marker, 'click', function () {
								infoWindow.open(map, marker);
						});

						if (settings.showInfoWindow)
								infoWindow.open(map, marker);

            return this;
        };
    
    }(jQuery));
		
		
		$(window).on("googleMapsLoaded", function() {
			$("#GoogleMap-[Module:ModuleID]-[Content:EntityId]").googleMap({
				coordinates: { lat: parseFloat("[Content:GPSLat]".replace(',', '.')), lng: parseFloat("[Content:GPSLng]".replace(',', '.')) },
				zoom: [Presentation:Zoom],
				mapTypeId: "[Presentation:MapType]",
				infoWindowHtml: $("#GoogleMap-Content-[Module:ModuleID]-[Content:EntityId]").html()
			});
		});
    
		var googleMapLoadCallback = function() {
			$(window).trigger("googleMapsLoaded");
			window.googleMapReady = true;
		};
		
		// Load the google maps api - only if it has not already been loaded
		// Makes sure the map is displayed correctly with the AJAX template switch
		if(!window.googleMapsLoaded)
		{
			window.googleMapsLoaded = true;
			$.getScript("http://maps.google.com/maps/api/js?sensor=true&callback=googleMapLoadCallback");
		}
		
		if(window.googleMapReady)
			googleMapLoadCallback();
		
</script>