<link rel="stylesheet" type="text/css" href="[App:Path]/GettingStarted/assets/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="[App:Path]/GettingStarted/assets/scripts.js" data-enableoptimizations="true" />

<div class="co-addresslist-wrapper">
	<repeat>
		<div class="co-addresslist-item co-addresslist-item-[List:Alternator3]">
			<div class="co-addresslist-item-inner sc-element">
				[Content:Toolbar]
				<h3>[Content:Title]</h3>
				<p>[Content:Description]</p>
				<p>[Content:Street]<br>
				[Content:ZipCity]</p>
			</div>
		</div>
	</repeat>
</div>