<link rel="stylesheet" type="text/css" href="[App:Path]/GettingStarted/assets/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="[App:Path]/GettingStarted/assets/scripts.js" data-enableoptimizations="true" />

<div class="co-imagelist">
	<repeat>
		<div class="co-imagelist-image sc-element">
			[Content:Toolbar]
			<a class="co-imagelist-link" href="[Content:Image]?w=800&h=400&mode=max" data-moduleid="[Module:ModuleID]" target="_blank" title="[Content:Title]">
				<img src="[Content:Image]?w=150&h=100&mode=crop" alt="[Content:Title]" />
			</a>
		</div>
	</repeat>
</div>

<div id="Dialog-[Module:ModuleID]" title="[Content:Title]" style="display: none;">
	<img id="Image-[Module:ModuleID]" src="" />
</div>