<link rel="stylesheet" type="text/css" href="[App:Path]/GettingStarted/assets/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="[App:Path]/GettingStarted/assets/scripts.js" data-enableoptimizations="true" />

<div class="sc-element co-image-fullwidth">
	[Content:Toolbar]
	<img class="co-image" src="[Content:Image]?w=980&h=250&mode=crop" alt="[Content:Title] - [Content:Description]" />
	<i>[Content:Description]</i>
</div>