<link rel="stylesheet" type="text/css" href="[App:Path]/GettingStarted/assets/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="[App:Path]/GettingStarted/assets/scripts.js" data-enableoptimizations="true" />

<div class="co-person-wrapper">
	<h1 class="sc-element">[ListContent:Title][ListContent:Toolbar]</h1>
	<repeat>
		<div class="co-person co-person-[List:Alternator2]">
			<div class="co-person-inner sc-element">
				[Content:Toolbar]
				<img src="[Content:Photo]?w=150&h=150&mode=crop" alt="Photo of [Content:Name]" />
				<div class="co-person-text">
					<h3>[Content:Name]</h3>
					[Content:Position]<br>
					<a title="Send an e-mail to [Content:Name]" href="mailto:[Content:Email]">[Content:Email]</a>
				</div>
				</p>
			</div>
		</div>
	</repeat>
</div>