<link rel="stylesheet" type="text/css" href="[App:Path]/GettingStarted/assets/styles.css" data-enableoptimizations="true" />

<div class="co-simplecontent-imagefull sc-element">
	[Content:Toolbar]
	<[Presentation:Heading] class="co-[Presentation:Heading]-hide">
		[Content:Title]
	</[Presentation:Heading]>
	<img class="co-image" src="[Content:Image]?w=980&h=225&mode=crop" alt="[Content:Title]" />
	[Content:Content]
</div>