<link rel="stylesheet" type="text/css" href="[App:Path]/GettingStarted/assets/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="[App:Path]/GettingStarted/assets/scripts.js" data-enableoptimizations="true" />

<div class="co-video co-video-youtube sc-element">
	[Content:Toolbar]
	<h1>[Content:Title]</h1>
	[Content:Content]
	<div class="co-video-wrapper" data-videolink="[Content:VideoLink]">
	</div>
</div>