﻿<div id="{0}" class="contentPersonalizationLastActivityDateRule">
    <span data-bind="text: resx.RulesLastActivityDateName" class="caption"></span>
    <select data-bind="options: availablePeriods,
						optionsText: 'Description',
						value: selectedPeriod, hasFocus: true" aria-label="Periods"></select>
    <span class="rulesValidationMessage" data-bind="validationMessage: selectedPeriod"></span>
    <div data-bind="text: resx.RulesRemoveRule, click: remove" class="deleteRule"></div>
</div>