﻿<div id="{0}" class="contentPersonalizationLinkClickedRule">
    <span data-bind="text: resx.RulesLinkClickedRuleName" class="caption"></span>
    <input type="text" class=".dnnFormItem .token-input-list-facebook" data-bind="value: link, autoComplete: link, source: url, hasFocus: true" aria-label="Link" />
    <div data-bind="text: resx.RulesRemoveRule, click: remove" class="deleteRule"></div>
</div>
