﻿<div id="{0}" class="contentPersonalizationRoleRule">
    <span data-bind="text: resx.RulesRolesName" class="caption"></span>
    <input type="text" class=".dnnFormItem .token-input-list-facebook"
           data-bind="tokenInput: tokens, settings: { url: url, theme:'facebook', resultsFormatter: tokenInputResultsFormatter }, hasFocus: true" aria-label="Name" />
    <span class="rulesValidationMessage" data-bind="validationMessage: tokens" />
    <div data-bind="text: resx.RulesRemoveRule, click: remove" class="deleteRule"></div>
</div>
